<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-question-heading" data-cy="QuestionCreateUpdateHeading" jhiTranslate="play2WinAdminApp.question.home.createOrEditLabel">
        Create or edit a Question
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="play2WinAdminApp.question.quiz" for="field_quiz">Quiz</label>
          <textarea class="form-control" name="quiz" id="field_quiz" data-cy="quiz" formControlName="quiz"></textarea>
          <div *ngIf="editForm.get('quiz')!.invalid && (editForm.get('quiz')!.dirty || editForm.get('quiz')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('quiz')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="play2WinAdminApp.question.reponse1" for="field_reponse1">Reponse 1</label>
          <input type="text" class="form-control" name="reponse1" id="field_reponse1" data-cy="reponse1" formControlName="reponse1" />
          <div *ngIf="editForm.get('reponse1')!.invalid && (editForm.get('reponse1')!.dirty || editForm.get('reponse1')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('reponse1')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('reponse1')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="play2WinAdminApp.question.reponse2" for="field_reponse2">Reponse 2</label>
          <input type="text" class="form-control" name="reponse2" id="field_reponse2" data-cy="reponse2" formControlName="reponse2" />
          <div *ngIf="editForm.get('reponse2')!.invalid && (editForm.get('reponse2')!.dirty || editForm.get('reponse2')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('reponse2')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('reponse2')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="play2WinAdminApp.question.reponse3" for="field_reponse3">Reponse 3</label>
          <input type="text" class="form-control" name="reponse3" id="field_reponse3" data-cy="reponse3" formControlName="reponse3" />
          <div *ngIf="editForm.get('reponse3')!.invalid && (editForm.get('reponse3')!.dirty || editForm.get('reponse3')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('reponse3')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('reponse3')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="play2WinAdminApp.question.reponse4" for="field_reponse4">Reponse 4</label>
          <input type="text" class="form-control" name="reponse4" id="field_reponse4" data-cy="reponse4" formControlName="reponse4" />
          <div *ngIf="editForm.get('reponse4')!.invalid && (editForm.get('reponse4')!.dirty || editForm.get('reponse4')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('reponse4')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('reponse4')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="play2WinAdminApp.question.bonneReponse" for="field_bonneReponse">Bonne Reponse</label>
          <input
            type="text"
            class="form-control"
            name="bonneReponse"
            id="field_bonneReponse"
            data-cy="bonneReponse"
            formControlName="bonneReponse"
          />
          <div
            *ngIf="editForm.get('bonneReponse')!.invalid && (editForm.get('bonneReponse')!.dirty || editForm.get('bonneReponse')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('bonneReponse')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('bonneReponse')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
