<div>
  <h2 id="page-heading" data-cy="GainsHeading">
    <span jhiTranslate="play2WinAdminApp.gains.home.title">Gains</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="play2WinAdminApp.gains.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-gains"
        [routerLink]="['/gains/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="play2WinAdminApp.gains.home.createLabel"> Create a new Gains </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="gains?.length === 0">
    <span jhiTranslate="play2WinAdminApp.gains.home.notFound">No gains found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="gains && gains.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="telephone">
            <span jhiTranslate="play2WinAdminApp.gains.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="minute">
            <span jhiTranslate="play2WinAdminApp.gains.minute">Minute</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="megabit">
            <span jhiTranslate="play2WinAdminApp.gains.megabit">Megabit</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <span jhiTranslate="play2WinAdminApp.gains.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let gains of gains; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/gains', gains.id, 'view']">{{ gains.id }}</a>
          </td>
          <td>{{ gains.telephone }}</td>
          <td>{{ gains.minute }}</td>
          <td>{{ gains.megabit }}</td>
          <td>{{ gains.createdAt | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/gains', gains.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/gains', gains.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(gains)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
