/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* .border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
}*/
.form-number {
  /* height: 327.778px; */
  padding-top: 50px;
  margin-bottom: 50px;
}
.consigne {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.btn-valider {
  background-color: #f9320c !important;
  border-color: #f9320c !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
  min-height: 100vh;
}

.form-control:not(select) {
  padding: 1.5rem 0.5rem;
}

select.form-control {
  height: 52px;
  padding-left: 0.5rem;
}

.form-control::placeholder {
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
}
.form-control:focus {
  box-shadow: none;
}

.fa {
  color: rgba(0, 78, 102, 1);
}

textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
input[type='select']:focus,
.uneditable-input:focus {
  border-color: rgba(0, 78, 102, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 78, 102, 0.6);
  outline: 0 none;
}
